
body{
  box-sizing: border-box;
  background-color: rgb(241, 241, 241);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  /* text-align: end; */
  
}
.App-header ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
  
}
.App-header ul li{
  list-style: none;
  display: block;
  /* margin-top: 30px; */
 
}
.App-header ul li a{
  display: block;
  margin: 0 20px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 18px;
}

.App-link {
  color: #51cdf0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadData h1{
  font-size: 45px;
  color: #034e63;
}
.allData{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 50px;
}

.singleMeal{
  /*text-align: start;
  */background-color: #f5e6e6;
  /* border: 1px solid #9c8989; */
  color: rgb(53, 53, 53);
  padding: 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: .3s all ease;
  -webkit-transition: .3s all ease;
  -moz-transition: .3s all ease;
  -ms-transition: .3s all ease;
  -o-transition: .3s all ease;
}
.singleMeal p{
  text-align: start;
}
.singleMeal h2{
  font-size: 35px;
}
.singleMeal:hover{
  box-shadow: 1px 4px 4px grey;
}
.btn{
  text-align: start;
}
.btn button{
  border: none;
  background-color: rgb(145, 94, 94);
  padding: 9px 25px;
  border-radius: 5px;
  color: rgb(226, 224, 224);
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .3s all ease-in;
  -webkit-transition: .3s all ease-in;
  -moz-transition: .3s all ease-in;
  -ms-transition: .3s all ease-in;
  -o-transition: .3s all ease-in;
}
button:hover{
  background-color: rgb(177, 111, 95);
}